* {
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
    font-family: Inter, sans-serif;
}

body {
    padding: 20px 50px;
    height: 100vh;
}

h1 {
    margin-bottom: 30px;
}

button, a {
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
    opacity: .55;
}

button {
    background-color: transparent;
}

button:not(.delete) span {
    opacity: .55;
    width: 0;
    transform: translate(-2rem, -50%);
    position: absolute;
}

button.delete {
    border: none !important;
    opacity: 0.55;
    display: none;
}

button.delete:hover {
    opacity: 1;
}

button.delete span {
    font-size: 1.5rem;
    position: absolute;
    transform: translate(50%, -50%);
}

.line:hover button.delete {
    display: block;
}

button span:hover {
    opacity: 1;
}

#database {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .4);
    height: calc(100% - 30px - 2em);
}

#data {
    overflow: auto;
    height: calc(100% - 22px - 1rem);
}

#data *:not(span) {
    width: fit-content;
}

#database-url {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .55);
    width: 100%;
}

.line {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.line-hoverer {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 100%;
}

.line:hover {
    border-color: rgba(0, 0, 0, .55);
}

.object>.line {
    transform: translateX(calc(-50px + 3rem));
}

.object {
    padding-left: 50px;
}

.closed * {
    display: none;
}

.closed>.line {
    display: flex;
}

.closed>.line * {
    display: flex;
}

.opened>.line button:not(.delete) span {
    transform: translate(-1.5rem, -100%) rotateZ(90deg);
}

.property {
    transform: translateX(3rem);
}

.property a::after {
    content: ":";
}

.property button {
    margin-left: 5px;
    border: 1px solid transparent;
}

.property button:hover {
    border-color: rgba(0, 0, 0, .55);
}

.property input {
    margin-left: 5px;
    border: 1px solid rgba(0, 0, 0, .55);
}